body {
    background-color: #121212;
    font-family: "Playfair Display", serif;
    font-weight: 600;
    font-style: normal;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    text-align: center;
    opacity: 0;
    animation: fadeIn 2s forwards;
    transition: background-color 0.5s ease-in-out;
    cursor: none; /* Ukrywamy domyślny kursor */
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.color-change {
    background-color: #7d4f34 !important;
}

.nav {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 15px;
    padding: 15px;
    background: #888888;
    border: 3px solid white;
    border-radius: 25px;
}

.nav a {
    text-decoration: none;
    padding: 15px 25px;
    background: #888888;
    color: white;
    border-radius: 25px;
    font-size: 22px;
    font-family: "Playfair Display", serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: inline-block;
    text-align: center;
    transition: all 0.3s ease-in-out;
    border: 3px solid white;
}

.nav a:hover {
    color: black;
    background: #888888;
    transition: all 0.3s ease-in-out;
}

.unifrakturcook-bold {
    font-family: "UnifrakturCook", cursive;
    font-weight: 700;
    font-style: normal;
}

.title {
    font-size: 150px;  
    font-weight: 700;
    text-decoration: none;
    color: white;
    transition: color 0.3s ease-in-out;
    display: inline-block;
    background: transparent !important;
}

.title:hover {
    color: black;
    background: transparent !important;
}

.subtitle {
    font-size: 90px; 
    font-weight: 700;
    letter-spacing: 3px; 
}

.contact {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    gap: 10px;
}

.contact-email {
    font-size: 20px;
    color: white;
    font-family: "Playfair Display", serif;
}

.copy-button {
    background: none;
    border: 3px solid white;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 40px;
    height: 40px;
    transition: all 0.3s ease-in-out;
}

.copy-button:hover {
    background: white;
    color: black;
}

/* Styl dla białego kursora noża */
.custom-cursor {
    position: fixed;
    width: 32px;
    height: 32px;
    background: url('knife_cursor_white.png') no-repeat center;
    background-size: contain;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: transform 0.1s linear;
    z-index: 9999;
}

a, button {
    cursor: none !important;
}
