body {
  margin:0;
  padding:0;
  min-height: 100vh;
  font-family: "JetBrains Mono", monospace;
}
.top-header {
  width: 100%;
  height:132px;
  top:0px;
  position: sticky;
  z-index: 10;
  background-color: #d6d6d6;
  display: flex;
  align-items: center;
}
.header {
  z-index: 9;
  box-sizing: border-box;
  padding-top: .4vw;                    
  padding-left: 12vw;
  padding-right: 12vw;
  display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 67%;
  align-items: center;
  justify-content: space-between;
}




.nav-menu {
  font-family: "JetBrains Mono", monospace;
  list-style-type:none;
  z-index: 3;
  gap:80px;
  justify-content:flex-end;
  display: inline-flex
}
/* INTERAKTYWNOŚĆ PRZY UŻYWANIU MYSZKI W MENU NAWIGACYJNYM U GÓRY STRONY */
.nav-menu li a {
  text-decoration: none;
  color: #000000;
}

.nav-menu li a:hover {
  transition: color 0.3s ease;
  color: #BC9C22;
}

video {
  display: block;
}

.baner-bar-footer-container {
  position: relative;
  display: flex;          
  flex-direction: column; 
  align-items: center;
} 


.baner {
  position: relative;
  background-color:#FFF;
  height:250px;
  width:100%;
  mix-blend-mode: normal;
  opacity: 1;
  margin-top: 0;
}
.banercontent {
  z-index: 9;                  
  padding-left: 16vw;
  padding-right: 16vw;
  display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 67%;
  align-items: center;
  justify-content: center;
  height:100%;
}
.h1 {
  font-size:50px;
  font-family: "Esteban", serif;
  font-weight: 900;
  font-style: normal;
  text-align: center;
  color:#000000;
  white-space: pre-wrap;
  transition-timing-function: ease;
  transition-duration: 0.9s;
  transition-delay: 0.3s;
  margin:0 120px;
}

.sponsors {
  z-index:10;
  width: 90%;
  max-width: 1536px;
  margin-inline:auto;
  position: relative;
  height:100px;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
  transform: translateY(+50%);
}

@keyframes goleft {
  to {
    left: -200px;
  }
}

.sponsor {
  width: 200px;
  height: 100px;
  border-radius: 6px;
  position: absolute;
 left: max(calc(200px * 8), 100%);
 animation-name: goleft;
 animation-duration: 30s;
 animation-timing-function: linear;
 animation-iteration-count: infinite;
 display: flex;
justify-content: center;
align-items: center;
}

.sponsor img {
  max-width: 80%;
  max-height: 80%;
  object-fit: contain;
}

.sponsor::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 50%;
      color: white;
      mix-blend-mode: lighten;
      pointer-events: none;
    }

.logo1{
  animation-delay: calc(30s / 8 * (8 - 1) * -1);
}

.logo2 {
  animation-delay: calc(30s / 8 * (8 - 2) * -1);
}

.logo3 {
  animation-delay: calc(30s / 8 * (8 - 3) * -1);
}

.logo4 {
  animation-delay: calc(30s / 8 * (8 - 4) * -1);
}

.logo5 {
  animation-delay: calc(30s / 8 * (8 - 5) * -1);
}

.logo6 {
  animation-delay: calc(30s / 8 * (8 - 6) * -1);
}

.logo7 {
  animation-delay: calc(30s / 8 * (8 - 7) * -1);
}

.logo8 {
  animation-delay: calc(30s / 8 * (8 - 8) * -1);
}


.footer {
  padding-top:150px;
  padding-bottom:30px;
  width: 100%;
  bottom:0px;
  border-radius: 0;
  position: relative;
  z-index: 8;
  background-color:black;
  color:white;
  display: flex;
  align-items: center;
  justify-content: space-between;
   height: 260px;
}

.left-footer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}

.logo-footer {
    display: flex;
    margin-bottom: 40px;
    margin-left: -4em;
}

.social-icons {
  display: flex;
  flex-direction: row;
  justify-content: center; 
  gap: 2em; 
}


.social-icon {
  font-size: 1.5em;
  color: #ccc;
  text-decoration: none;
  transition: color 0.3s ease, transform 0.3s ease;

}

.social-icon:hover {
  transform: scale(1.2);
}

.youtube:hover {
    color: #ff0000; 
}
.twitch:hover {
    color: #9146ff; 
}
.discord:hover {
    color: #5865f2; 
}
.twitter:hover {
  color: #1da1f2; 
}


.right-footer-section {
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-content: flex-start;
    align-items: center;
    height:100%;
}

h2 {
color:#BC9C22;
font-size:80px;
margin-bottom:25px;
text-align: center;
margin-top:0;

font-family: "Esteban", serif;
font-weight: 400;
font-style: normal;
}
.churchicon {
color: white;
 }
.footer-separator {
  width: 50%;
  height: 1px;
border-radius:2px;
  background-color: white;
  margin-bottom: 30px;
}

.footer-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; 
    gap: 100px; 
    justify-content: center;
}

.footer-menu a {
    color: #fff;
    text-decoration: none;
    font-size: 1em;
}

.footer-menu a:hover {
    text-decoration: none;
    color: #BC9C22;
    transition: color 0.3s ease;
}


.copyright {
position:absolute;
text-align:center;
bottom:5px;
font-size:16px;
width:100%;
}
