body {
  margin:0;
  padding:0;
  min-height: 100vh;
}
.top-header {
  width: 100%;
  height:132px;
  top:0px;
  position: sticky;
  z-index: 10;
  background-color: #d6d6d6;
  display: flex;
  align-items: center;
}
.header {
  z-index: 9;
  box-sizing: border-box;
  padding-top: .4vw;                    
  padding-left: 12vw;
  padding-right: 12vw;
  display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 67%;
  align-items: center;
  justify-content: space-between;
}




.nav-menu {
  font-family: "JetBrains Mono", monospace;
  list-style-type:none;
  z-index: 3;
  gap:80px;
  justify-content:flex-end;
  display: inline-flex
}
/* INTERAKTYWNOŚĆ PRZY UŻYWANIU MYSZKI W MENU NAWIGACYJNYM U GÓRY STRONY */
.nav-menu li a {
  text-decoration: none;
  color: #000000;
}

.nav-menu li a:hover {
  color: #BC9C22;
}

video {
  display: block;
}

.baner {
  position: relative;
  background-color: #555555;
  height:250px;
  width:100%;
  mix-blend-mode: normal;
  opacity: 1;
  margin-top: 0;
}
.banercontent {
  z-index: 9;                  
  padding-left: 16vw;
  padding-right: 16vw;
  display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 67%;
  align-items: center;
  justify-content: center;
  height:100%;
}
.h1 {
  text-align: center;
  color:#BC9C22;
  white-space: pre-wrap;
  transition-timing-function: ease;
  transition-duration: 0.9s;
  transition-delay: 0.3s;
  margin:0 120px;
}



.footer {
  padding: 30px;
  width: 100%;
  bottom:0px;
  border-radius: 0;
  position: relative;
  z-index: 8;
  background-color:grey;
  color:white;
  display: flex;
  align-items: center;
  justify-content: space-between;
   height: 300px;
}

.left-footer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 250px;
}

.logo-footer {
    margin-bottom: 25px;
}

.social-icons {
    display: flex;
    gap:25px;
}

.right-footer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 250px; 
}

.h2 {
color:#BC9C22;
font-size: 2em;
margin: 0 0 10px 0;
}

.footer-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; 
    gap: 25px; 
    justify-content: center;
}

.footer menu a {
    color: #fff;
    text-decoration: none;
    font-size: 1em;
}

.footer menu a:hover {
    text-decoration: none;
}


.copyright {
  display:flex;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
    bottom: 10px;
    width: 100%;
}
.copyright p {
    margin: 0;
    font-size: 0.7em;
}


